[submodule "wrtools_core"]
	path = submodules/wrtools_core
	url = https://github.com/webb/wrtools-core.git
[submodule "doc_processing"]
	path = submodules/doc_processing
	url = https://github.com/webb/doc-processing.git
[submodule "saxon_cli"]
	path = submodules/saxon_cli
	url = https://github.com/webb/saxon-cli.git
[submodule "schematron-cli"]
	path = submodules/schematron-cli
	url = https://github.com/webb/schematron-cli.git
	branch = master
[submodule "xalan-cli"]
	path = submodules/xalan-cli
	url = https://github.com/webb/xalan-cli.git
	branch = master
